
@{
    ViewBag.Title = "Http Utility";
}

<h2>Http Utility</h2>

@{ 
    string baslik = "<h2>Http Utility</h2>";
    string baslikEncode = HttpUtility.HtmlEncode(baslik);
    string baslikDecode = HttpUtility.HtmlDecode(baslikEncode);
}

<h3>
    Varsayılan @baslik
</h3>

<h3>
    HtmlEncode hali : @baslikEncode
</h3>

<h3>
    HtmlDecode hali : @baslikDecode
</h3>

<h4>
    Html olarak yazdırma : @Html.Raw(baslikDecode)
</h4>